p {
  font-family: "Ubuntu", sans-serif;
  color: #121310;
  font-size: 20px;
  line-height: 1.5;
  text-align: center; }

h1 {
  text-align: center; }

h2 {
  text-align: center; }

.menuPrincipal {
  background-color: #bedb89;
  position: sticky;
  top: 0px; }
  .menuPrincipal .menuPrincipal__lista {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    align-content: space-between;
    height: 100%; }
  .menuPrincipal .menuPrincipal__item {
    color: #121310;
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    padding-top: 50px;
    width: 18%; }
  .menuPrincipal .menuPrincipal__item:hover {
    transform: scale(1.05, 1.05); }

.footer {
  background-color: #75AD24; }
  .footer .footer__lista {
    height: 200px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    align-content: space-between; }
  .footer .footer__item {
    color: #121310;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 10px;
    width: 18%; }

.carousel {
  background-color: #EFF3F3; }
  .carousel .carousel__responsive {
    width: 100%;
    max-width: 1200px;
    height: auto;
    align-items: center;
    padding-left: 50px;
    justify-content: center; }

.flexInicio {
  margin-top: 100px;
  padding-top: 10px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  list-style-type: none;
  align-items: center;
  align-content: center; }
  .flexInicio .flexInicio__div {
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    background-color: #C8E386;
    color: #121310;
    font-size: larger;
    line-height: 1.5;
    height: 400px;
    vertical-align: auto; }

.whatsApp {
  position: fixed;
  bottom: 25px;
  right: 25px; }

.tituloPrincipal {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  color: #A0762C;
  font-family: "Ubuntu", sans-serif; }

.tituloSecundario {
  color: #A0762C;
  font-family: "Ubuntu", sans-serif; }

.grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 40px 200px 200px 200px;
  justify-items: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  color: #121310;
  background-color: #E0EEB9;
  border: solid;
  border-color: #C8E386;
  margin-bottom: 100px;
  line-height: 1.5;
  height: auto; }
  .grid .grid__fit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 40%;
    align-items: center;
    height: auto; }
  .grid .grid__fit:hover {
    transform: scale(2, 2); }

#macetero {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 100%;
  align-items: center;
  margin-bottom: 100px; }

.formulario {
  font-family: "Ubuntu", sans-serif;
  color: #121310;
  size: 20px;
  padding-bottom: 10px;
  align-items: center;
  margin-bottom: 10px; }

@media (max-width: 768px) {
  .menuPrincipal {
    background-color: #bedb89;
    top: 0px;
    position: static; }
    .menuPrincipal .menuPrincipal__lista {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      list-style-type: none;
      align-items: center;
      align-content: space-between;
      height: 100%; }
    .menuPrincipal .menuPrincipal__item {
      color: #121310;
      font-size: 20px;
      font-family: "Ubuntu", sans-serif;
      text-align: center;
      padding-top: 50px;
      width: 18%; }
    .menuPrincipal .menuPrincipal__item:hover {
      transform: scale(1.05, 1.05); }
  .carousel {
    background-color: #EFF3F3; }
    .carousel .carousel__responsive {
      width: 100%;
      max-width: 400px;
      height: auto;
      align-items: center;
      justify-content: center; }
  .flexInicio {
    margin-top: 100px;
    padding-top: 10px;
    margin-bottom: 100px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: stretch;
    height: 300px; }
    .flexInicio .flexInicio__div {
      justify-content: center;
      flex-flow: column wrap;
      align-items: center;
      background-color: #C8E386;
      color: #121310;
      font-size: larger;
      line-height: 1.5;
      flex: 1 1 auto; }
  .footer {
    background-color: #75AD24;
    height: 250px; }
    .footer .footer__lista {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      list-style-type: none;
      align-items: center;
      align-content: space-between; }
    .footer .footer__item {
      color: #121310;
      font-family: "Ubuntu", sans-serif;
      font-size: 20px;
      text-align: center; }
  .grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 40px 400px 400px 400px;
    justify-items: center;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
    color: #121310;
    background-color: #E0EEB9;
    border: solid;
    border-color: #C8E386;
    margin-bottom: 100px;
    line-height: 1.5;
    height: auto; }
    .grid .grid__fit {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
      width: 40%;
      align-items: center;
      height: auto; }
    .grid .grid__fit:hover {
      transform: scale(2, 2); } }
