$fontFamily: 'Ubuntu', sans-serif;
$colorTitulo: #A0762C;
$colorTexto: rgb(18, 19, 16);
$tamañoTexto:20px;
$colorh3: #88AA00;
$colorFooter:#75AD24;
$colorMenu:rgb(190, 219, 137);
$colorCarousel:#EFF3F3;
$colorDiv:#C8E386;


*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p{
    font-family: $fontFamily;
    color: $colorTexto;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    color: $colorTitulo;
}

header {
	background:$colorMenu;
	width:100%;
	padding:20px;

	/* Flexbox */
	display: flex;
	justify-content:space-between;
	align-items:center;

	flex-direction:row;
	flex-wrap:wrap;

    div{
        img{
            width:200px;
        }

    }

    nav{
        width:50%;
	    /* Flexbox */

	    display:flex;
	    flex-wrap:wrap;
	    align-items:center;

        a{
            background:$colorCarousel;
	        color:$colorTexto;
            font-family: $fontFamily;
	        text-align: center;
	        text-decoration: none;
	        padding:10px;
	        /* Flexbox */
	        flex-grow:1;
        }
        a:hover{
            transform: scale(1.05, 1.05);
            background: $colorh3;
            color: #fff;
        }
    }
}   

aside {
	background:$colorDiv;
	padding:20px;
	/*FLEX*/
	flex:0 0 300px;
	display: flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content:flex-start;

    .widget{
	    height:150px;
	    margin:10px;

        img{
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            align-items: center;
            padding-bottom: 50px;
            
        }
    }
}

footer{
    
    background-color: $colorFooter;
    width: 100%;
	padding:20px;
    margin-top: 50px;

	/* Flexbox */
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;

    nav{
        height: 100px;
        width: 100%;
        display:flex;
        justify-content: space-around;
        list-style-type: none;
        align-items: center;
        align-content: space-between;
    
    
        a{
            background:$colorCarousel;
	        color:$colorTexto;
            font-family: $fontFamily;
            font-size: 20px;
	        text-align: center;
	        text-decoration: none;
            justify-content: space-between;
	        padding:10px;
            margin: 50px;
	        /* Flexbox */
            flex: 1 1 200px;
	        flex-grow:1;
        }
        a:hover{
            transform: scale(1.05, 1.05);
            background: $colorMenu;
            color: $colorTexto;
        }
    }
}

.contenedor {
	background:#fff;
	width:90%;
	margin:auto;
    font-family: $fontFamily;

	/* Flexbox */
	display:flex;
	flex-flow:row wrap;
}

.main{
    background:$colorDiv;
	padding:20px;
	flex:1;
    article{
        width:70%;
        text-align: center;
    }
}

.carousel{    
    background-color: $colorCarousel;
    margin-top: 50px;

    div{
        align-items: center;
        padding-bottom: 20px;
     img{
            width: 100%;
            max-width: 1200px;
            height: auto;
            align-items: center;
            justify-content: center;
        }
    }
}

.titulo{
    width: 100%;

    .titulo__principal{
        text-align: center;
        margin-bottom: 10px;
        margin-top: 100px;
        color: $colorTitulo;
        font-weight: bold;
    }
    .titulo__secundario{
        color: $colorTitulo;
        text-align: center;
        margin-bottom: 50px;
    }
}

.whatsApp{
    position:fixed;
    bottom:30px;
    right: 30px;

}

.formulario{
    color: $colorTexto;
    size: $tamañoTexto;
    position: relative;
	width: 100%;
	height: 100%;
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
    margin-bottom: 50px;
    margin-top: 50px;

    div{
        max-width: 850px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;

        input{
            margin:10px;
        }
    }
}

.galeria{
    margin-top: 50px;
    .contenedorImagen{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .box{
            display: flex;
            align-items: center;
            justify-content: center;
            margin:20px;
            border:1px solid rgba(0,0,0,.3);
            flex:1 1 300px;
            .imagen{
                text-align: center;
                padding:10px;
                background: #f0f0f0;
                img{
                    height: 200px;
                    width: 250px;
                    object-fit: cover;
                }
            }
            .info{
                width: 100%;
                text-align: center;
                
                h3{
                    padding:10px;
                }
            }
        }
        .box:hover{
            .imagen{
                transform: scale(1.2,1.2);
                background:#ccc;
            }
        }
    }
}


@media screen and (max-width: 800px) {
	.contenedor {
		flex-direction:column;
	}

	header {
		flex-direction:column;
		padding:0;
        div{
            img{
                margin:20px 0;
            }
        }
        nav{
            width: 100%;
        }
	}
    .carousel{    
    
        div{
            padding-bottom: 20px;
         img{
                width: 100%;
                height: auto;
                align-items: center;
                justify-content: center;
            }
        }
    }
    
    .main{
        article{
            width: 100%;
        }
    }
    aside{
        .widget{
            height: auto;
        }

    }

}

@media screen and (max-width: 600px) {
	
	footer {
        height: auto;
        padding:0px;
        nav{
            flex-wrap: wrap;
            height: auto;
            a{
                margin:20px 70px 20px 70px;
            }
        }
	}

    .galeria{
        .contenedorImagen{
            .box{
                flex-wrap: wrap;
                height: auto;
                .info{
                    h3{
                        font-weight: bold;
                    }
                }

            }
            .box:hover{
                .imagen{    
                    transform:none;
                }
            }
        }
    }
}
